body {
  font-family: 'Source Sans Pro', monospace;
  font-size: 14px;
}

h6 { 
  font-size: 1.25rem;
}

.content .left-bar {
  background: #44536e;
}

.content .left-bar .photo {
  border: 1px solid #d3d3d3;
  padding: 2px;
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.content .right-bar .summary {
  white-space: pre-wrap; 
}

.content .right-bar .experience-element .logo, .content .right-bar .certificate-element .logo  {
  max-width: 56px;
  max-height: 56px; 
}

.content .right-bar .education .university-logo {
  font-size: 2rem;
}

.download-button {
  position: fixed;
  bottom: 0;
  right: 30px;
  font-size: 3rem;
  cursor: pointer;
}

.guide-img {
  cursor: pointer;
}

@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}
